<header>
  <mat-toolbar color="primary">
    <span></span>
  </mat-toolbar>
</header>

<!--UPLOAD-->
<div class="content">
  <div class="content-itens">
    <mat-card class="upload-content" appDrag (files)="filesDropped($event)">
      <mat-card-header>
        <mat-card-title class="upload-content-title">Selecione ou arraste
          os
          arquivos que deseja importar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="upload-icon">
          <mat-icon aria-hidden="false" fontIcon="upload_file"></mat-icon>
        </div>
        <div style="margin: 10px 0px 20px 0px">
          <label for="selecao" class="btnPerson">Selecionar Arquivo</label>
          <input type="file" id="selecao" accept=".xml" #fileinput (change)="arquivoSelecionado($event)" multiple>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="formatoNegado">
        <small>Ops, parece que você tentou subir um aquivo que não é permitido</small><br>
        <small>Arquivos diferentes do formato .XML não serão adicionados para importação</small>
      </mat-card-footer>
    </mat-card>
    <mat-card class="upload-content">
      <mat-card-header>
        <mat-card-title class="upload-content-title">Quantidade de
          arquivos a serem importados: {{listaArquivos.length}}</mat-card-title>
      </mat-card-header>
      <div style="margin: 0px 0px 20px 0px">
        <button type="button" [disabled]="listaArquivos.length == 0"
          (click)="processarArquivo(listaArquivos)" mat-raised-button color="primary">Importar</button>
      </div>
    </mat-card>
  </div>

  <!-- LISTA DE ARQUIVOS -->
  <div class="upload-list">
    <mat-card class="upload-list-content">
      <div *ngIf="listaArquivos.length == 0" class="list-item" style="padding: 10px 0px 10px 10px;">
        Não ha itens selecionados
      </div>
      <div *ngFor="let item of listaArquivos" class="list-item">
        <ul>
          <li class="upload-list-item-name">
            <span>{{item.name}}</span>
          </li>
          <li><button (click)="confirmarRemocaoItem(item)" mat-raised-button
              color="primary">Remover</button></li>
        </ul>
      </div>
    </mat-card>
    <div *ngIf="listaArquivos.length > 0" class="total-itens">
      <span><small><b>Total de arquivos: {{listaArquivos.length}}</b></small></span>
    </div>
  </div>
</div>